@import "tailwindcss";

/* globals.css */
@import "leaflet/dist/leaflet.css";


:root {
  --foreground: #000000;
  --background: #ffffff;
  --font-poppins: 'Poppins', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-roboto: 'Roboto', sans-serif;


  
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-vert-fonce: #2E6002;
  --color-vert-milieu: #2F6203;
  --color-vert-clair: #4F9503;

  --color-rouge-fonce: #891A19;
  --color-rouge-milieu: #CA2725;
  --color-rouge-clair: #F26D6C;

  --color-orange-clair: #FACA15;
  --color-orange-milieu: #FBBF24;
  --color-orange-fonce: #C97A12;

  --color-jaune-fonce : #FBBF24;
  --color-jaune-milieu : #FBBF24;
  --color-jaune-clair : #FBBF24;

  --color-bleu-fonce : #4F9503;
  --color-bleu-milieu : #4F9503;
  --color-bleu-clair : #4F9503;

  --color-green-dark-transparent: rgba(0, 30, 0, 0.9);
  --color-white-transparent: rgba(255, 255, 255, 0.9);

  --color-green-transparent-light: rgba(46, 96, 2, 0.2);



  --text-titre-page: clamp(1.75rem, 2.5vw, 2.25rem);         /* ≈ 28–36px */
  --text-titre-section: clamp(1.375rem, 1.8vw, 1.625rem);    /* ≈ 22–26px */
  --text-titre-sous-titre: clamp(1rem, 1.2vw, 1.125rem);

  --text-texte-normal: clamp(0.875rem, 1vw, 0.91rem);       /* ≈ 14-15px */
  --text-texte-citation: clamp(0.8125rem, 0.9vw, 0.875rem); /* ≈ 13-14px */
  --text-texte-legende: clamp(0.75rem, 0.8vw, 0.8125rem);    /* ≈ 12-13px */


}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}



@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}


@layer base {
  :root {
    /* ---- Taille normale (≈ 11pt Word = 14.5px) ---- */
    --fs-text-normale: clamp(0.875rem, 1vw, 0.91rem); /* ≈ 14-15px */

    /* ---- Petites tailles ---- */
    --fs-text-legende: clamp(0.75rem, 0.8vw, 0.8125rem);   /* ≈ 12-13px */
    --fs-text-citation: clamp(0.8125rem, 0.9vw, 0.875rem); /* ≈ 13-14px */

    /* ---- Titres ---- */
    --fs-titre-normale: clamp(1.125rem, 1.5vw, 1.25rem);   /* ≈ 18-20px */
    --fs-titre-section: clamp(1.5rem, 2vw, 1.75rem);       /* ≈ 24-28px */
    --fs-titre-page: clamp(2rem, 3vw, 2.5rem);             /* ≈ 32-40px */
  }

  .titrePage {
    font-size: var(--fs-titre-page);
  }

  .titreSection {
    font-size: var(--fs-titre-section);
  }

  .titreNormale {
    font-size: var(--fs-titre-normale);
  }

  .textNormale {
    font-size: var(--fs-text-normale);
  }

  .textLegende {
    font-size: var(--fs-text-legende);
  }

  .textCitation {
    font-size: var(--fs-text-citation);
  }
}

